{% load wideio_tags %} <div> <span style="float: left"><h4><a href="{{ x.get_view_url }}">{{ x.from_type.name }} to {{ x.to_type.name }} converter</a> &nbsp;</h4></span> {% actionbox x %} </div> <br/> 